.Progress {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  width:25%;
}

.table-hover tbody tr:hover > td {
    cursor: pointer;
}

.jumbotron {
  background-color: #444444;
  margin-top: -4%;
}

@media only screen and (max-width: 768px) {
  .jumbotron {
    background-color: #444444;
    margin-top: -8%;
  }
}

.jumbotron h1 {
  color: white;
}

.add-button {
  position:absolute;
  margin-top:0;
}

@media only screen and (max-width: 768px) {
    .add-button {
      position:absolute;
      margin-top:-18px;
    }
}

.pagination {
  margin-top: 5%;
}
