.row-space {
    margin-bottom: 2%;
}

.box-space {
    margin-top: 6%;
}

#plus {
    margin-left: 15%;
}

.btn-sq-lg {
    width: 250px;
    height: 150px;
}

#space {
  margin-left: 80%;
}

#user{
    margin-left: 92%;
}


.list-item-appear {
  opacity: 0.01;
}

.list-item-appear.list-item-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.list-item-enter {
  opacity: 0.01;
  transform: translate(0, 1em);
}

.list-item-enter.list-item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-out, transform 500ms ease-out;
  transform:translate(0,0);
}

.list-item-leave {
  opacity: 1;
}

.list-item-leave.list-item-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in, transform 300ms ease-in;
  transform:translate(-5em, 0) scale(0,0);
}
