.row-space {
    margin-bottom: 2%;
}

.box-space {
    margin-top: 6%;
}

.btn-sq-lg {
    width: 250px;
    height: 150px;
}

.list-item-appear {
  opacity: 0.01;
}

.list-item-appear.list-item-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.list-item-enter {
  opacity: 0.01;
  transform: translate(0, 1em);
}

.list-item-enter.list-item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-out, transform 500ms ease-out;
  transform:translate(0,0);
}

.list-item-leave {
  opacity: 1;
}

.list-item-leave.list-item-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in, transform 300ms ease-in;
  transform:translate(-5em, 0) scale(0,0);
}

.Progress {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  width:25%;
}

.table-hover tbody tr:hover > td {
    cursor: pointer;
}

.center-progress {
  position: relative;
    margin: auto;
    width: 50%;
    margin-left: 50%;
    margin-top: -26%;
    margin-bottom: 10%;
}


.report-table {
  width: 50%;
  height: 40%;
  margin-top: 5%;
}

@media only screen and (max-width: 768px) {
  .center-progress {
    position: relative;
      margin: auto;
      width: 50%;
      margin-left: 50%;
      margin-top: -70%;
      margin-bottom: 10%;
  }

  .report-table {
    width: 50%;
    height: 40%;
    margin-top: 0%;
  }
}


.jumbotron {
  background-color: #444444;
  margin-top: -4%;
}

@media only screen and (max-width: 768px) {
  .jumbotron {
    background-color: #444444;
    margin-top: -8%;
  }
}

.jumbotron h1 {
  color: white;
}

.add-button {
  position:absolute;
  margin-top:0;
}

@media only screen and (max-width: 768px) {
    .add-button {
      position:absolute;
      margin-top:-18px;
    }
}

.pagination {
  margin-top: 5%;
}

.nav-underline {
  text-decoration: none;
}
.nav-underline:hover {
  border-bottom: 4px solid #00d8ff;
}
